body {
  margin: 0 auto;
}

.flex-hor{
  display: flex;
  flex-direction: row;
}
.margin-auto {
  margin:auto;
}
#left-panel {
  width: 15%;
  background-color:#FFCA00;
  height: 150vh;
  padding: 20px;
  position:fixed;
}

#feed-view {
  width:85%;
  height: 100vh;
  margin-left: auto;
}

#logout_button {
  width: 10em;
  border-radius: 25px;
  border: none;
  padding:15px;
  background-color: #513030;
  color: wheat;
  margin:15px;
  font-weight: 600;
  cursor: pointer;
}

.nav_button {
  width: 10em;
  border-radius: 25px;
  border: none;
  padding: 15px;
  background-color: #513030;
  color: wheat;
  margin: 15px;
  font-weight: 600;
  cursor: pointer;
}

#logo-box {
    margin: auto;
}

.space-around{
  justify-content: space-around;
}

#left-create-button{
  margin: auto;
  width:80%;
  height:50px;
  border-radius: 25px;
  border: none;
  background-color: #513030;
  color: wheat;
  margin-top:30px;
  font-weight: 600;
  cursor: pointer;
}

#recipe-box{
  width:75%;
  margin: auto;
  background-color: #EEF1F8;
  padding:25px;
  border-radius: 10px;
  margin-top: 5em;
  max-height:30em;
  overflow: scroll;
  border-radius: 20px;
}
#tag{
  padding:10px;
  border-radius: 10px;
  background-color:#513030;
  color: #EEF1F8;
  width: fit-content;
}
#tags{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

}
#right-recipe-box {
  width: 50%;
  background-color: #EEF1F8;
}
#left-recipe-box {
  width: 50%;
  background-color: #EEF1F8;
}

.recipe-instruction{
  width:80%;
  background-color: white;
  padding:5px;
  border-radius:10px;
  margin:10px;
}

.center-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}