#side-bar{
  background-color: #FFCA00;
}

#wrapper{
  height: 100vh;
}

#recipe-form-space{
  height: 500px;
  max-width: 685px;
  background-color: #EEF1F8;
  overflow-y: scroll;
}

#create-button{
  background-color: #FFCA00;
  font-family: 'Asap'!important;
  font-weight: bold!important;
}

#tag-div{
  background-color: #513030;
  width: min-content;
  height: 36px;
}

#tag{
  width: 75px;
  text-align: center;
  background-color: #513030;
  color: white;
  font-family: 'Asap'!important;
  font-weight: bold!important;
}

.accordion-button{
  background-color: #EEF1F8;
}

#button-area{
  background-color: #D9D9D9;
}

.btn-info{
  color: white;
  background-color: #513030;
}

body {
  font-family: 'Asap';
  font-weight: bold;
}

button {
  font-family: 'Asap'!important;
  font-weight: bold!important;
}