  #content {
    /* padding-left: 500px; */
    /* padding-top: 300px; */
    position: absolute;
    top: 80px;
    padding-left: 800px;
  }
  #background {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(255, 202, 0, 1);
  }
  #pizza {
    position: relative;
    margin-top: 10%;
    margin-left: 17%;
  }
  #pizza p {
    margin-top: 1%;
    text-align: center;
    display: block;
    width: 100px;
    color: rgb(84, 50, 0);
    font-size: 45px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  h1 {
    font-size: 45px;
    margin-bottom: 40px;
    font-family: cursive;
  }
  #email {
    margin-bottom: 20px;
  }
  .input {
    height: 40px;
    width: 300px;
  }
  #signUp {
    position: relative;
    top: 180px;
  }
  #submit {
    background-color: rgba(255, 202, 0, 1);
    margin-top: 30px;
    font-size: 20px;
    height: 40px;
    width: 300px;
    cursor: pointer;
  }
  